body {
    background-color: #ffff;

}

.container {
    background-color: #333;
    border: 2px solid #071013;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ffff;
    text-align: center;
}

.form-label {
    color: #ffff;
}

.form-control {
    background-color: #ffff;
    border: 1px solid #071013;
    border-radius: 5px;
}

.btn-success {
    background-color: #51c504e5;
    border-color: #071013;
}


.btn-success:hover {
    background-color: #155724;
    border-color: #071013;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;

}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}